
<div class="container">
 <div class="ScrollStyle">
 <div class=row style="width:500px;margin-left: 250px;">
     
 <div class="col-md-4" >
     <p class="circle">&#10010;</p>
     <p align="center" style=" margin-left: -30px;"><%= link_to "Add User", {:action => 'new' }%></p>
 <% @contacts.each do |f| %>
 </div>
  <div class="col-md-4" style="margin-bottom: 25px;">
 <p class="round-image-75"> <%= image_tag(f.contactimage) %></p>
   <b><%= f.name %><br></b>
    <%= f.relationship %><br>
 <% end %>
  </div>
</div>
</div>
<br><br>




</div>